    <div class="container-fluid mt-5">
        <div class="row">
            <!-- Sidebar/Navigation -->
            <mat-sidenav mode="side" opened="true">
                <mat-nav-list>
                    <a mat-list-item (click)="products()">Products</a>
                    <a mat-list-item (click)="Mycart()">MyCart</a>
                    <a mat-list-item href="#activity">Activity</a>
                </mat-nav-list>
            </mat-sidenav>

            <div class="col-md-8">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>User Profile</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>

                        <div id="profile">
                            <h6>Profile Information</h6>
                            <h5>Person Id : {{userDetails.regd_id}}</h5>
                            <p>Name: {{userDetails.firstname}}</p>
                            <p>Email: {{userDetails.email}}</p>
                        </div>

                        <div id="settings" class="mt-4">
                            <h6>Account Settings</h6>
                            <p>Username: {{userDetails.firstname + userDetails.lastname}}</p>
                            <p>Contact: {{userDetails.mobileNumber}}</p>
                        </div>

                        <div id="activity" class="mt-4">
                            <h6>Recent Activity</h6>
                            <ul>
                                <li>Logged in at 10:00 AM</li>
                                <li>Updated profile picture</li>
                            </ul>
                        </div>

                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>