<!-- <div class="staff-management-container">
    
    <button (click)="addStaff()">Add Staff</button>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let staff of staffList">
          <td>{{ staff.name }}</td>
          <td>{{ staff.role }}</td>
          <td>
            <button (click)="editStaff(staff)">Edit</button>
            <button (click)="deleteStaff(staff)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->