<!-- app.component.html -->

<style>
    .signup-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(236, 240, 239);
        border-radius: 5px;
        width: 50%;
        margin-left: 25%;
    }


    mat-card-content{
        background-color: rebeccapurple;
    }



    

    .signup-card {
        width: 300px;
        height: 80%;
        border-radius: 5px;
        background-color: rgb(237, 230, 220);
    }

    .full-width {
        width: 100%;
    }
</style>
<div class="signup-container">
    <mat-card class="signup-card">

        <mat-card-content>
            <form (ngSubmit)="signup()">
                <mat-form-field class="full-width">
                    <input matInput placeholder="first Name" name="firstname">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput placeholder="last Name" name="lastname">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput placeholder="Email" name="email" type="email" required>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput placeholder="Mobile" name="number" type="number" required>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput type="password" placeholder="Password" name="password" required>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput type="password" placeholder="Confirm Password" name="Cpassword" required>
                </mat-form-field>

                <span>
                    <button mat-raised-button color="primary" type="submit">Sign Up</button>
                </span>
            </form>
        </mat-card-content>
    </mat-card>
</div>